<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyBlog | <%= title %> </title>
    <link rel="stylesheet" href="/styles.css" type="text/css" />
    <script src="/app.js" defer></script>
    <script
    src="https://kit.fontawesome.com/718c6e0d9d.js"
    crossorigin="anonymous"
  ></script>
  </head>