<header>
    <div class="wrap">
      <h1 class="logo">MyBlog</h1>
      <nav class="display">
        <a href="/">
          <span data-storedValue="Home" class="current">Home</span>
        </a>
        <a href="/newblog">
          <span data-storedValue="Newblog" class="current">Newblog</span>
        </a>
        <a href="/contact">
          <span data-storedValue="Contact" class="current">Contact</span>
        </a>
        <button class="login ">Login</button>
      </nav>
      <div class="icon">
        <button class="moon switch"><i class="fa-regular fa-moon fa-2x" style="color: #333333;"></i></button>
        <button class="sun switch"><i class="fa-regular fa-sun fa-2x" style="color: #ffffff;"></i></button>
      </div>
      
      <div class="menu">
        <div class="lines">
          <div></div>
          <div></div>
          <div></div>
        </div>
        <p class="cancel">X</p>
      </div>
    </div>
  </header>