<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

   <div class="form-body">
    <h2>Login</h2>
    <p>Login to be able to add your own blog</p>
    <form action="">

        <input type="email" name="email" class="email" placeholder="Enter email">
        <input type="password" name="password" class="password" placeholder="Enter password">
        <button type="submit">Submit</button>
    </form>
   </div>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
